---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import VolunteersSection from '../../components/VolunteersSection.astro';
import AssociationsSection from '../../components/AssociationsSection.astro';
import Divider from '../../components/Divider.astro';
import CompaniesSection from '../../components/CompaniesSection.astro';
import type { Language } from '../../i18n/ui';

export function getStaticPaths() {
	return [
		{ params: { lang: 'it' } },
		{ params: { lang: 'en' } },
	];
}

const langParam = Astro.params.lang;
const lang: Language = langParam === 'en' ? 'en' : 'it';
---

<Layout lang={lang}>
	<main class="overflow-x-clip">
		<Navbar />

		<div class="bg-slate-50">
			<Hero />
			<VolunteersSection />
			<AssociationsSection />
		</div>

		<Divider />

		<CompaniesSection />
	</main>
</Layout>
